/* Стилизация аккордеона */
.accordion__details {
    border: 1px solid var(--grey-3);
    ;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    width: 649.31px;
    margin-bottom: 8px;
}

.accordion__details:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    display: flex;
    margin: -0.5em 0 0;
    align-items: center;
    color: var(--black);
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__summary::after {
    content: "\2227";
    font-size: 25px;
    margin-left: auto;
    padding-right: 0.5em;
    color: var(--grey-4);
}

.accordion__details[open]>.accordion__summary::after {
    content: "\2228";
    font-size: 25px;
    margin-left: auto;
    padding-right: 0.5em;
    color: var(--grey-4);
}

.accordion__item {
    color: var(--grey-4);
    margin-bottom: 8px;
}